<template>
    <form @submit.prevent="sendData">
        <ui-textinput placeholder="Pon tu contraseña" label="Contraseña" type="password" v-model="data.password" />
        <ui-submitbox text="Cambiar contraseña" />
    </form>
</template>

<script>
export default {
    data() {
        return {
            data: {
                password: ''
            }
        }
    },
    async mounted() {
        await this.$axios.put(`/auth/verify/${this.$route.params.id}`, {password: this.data.password})
        console.log('Correo verificado');
        this.$router.push('/auth/signin')

    }
}
</script>
