<template>
    <form @submit.prevent="sendData">
        <ui-textinput placeholder="Pon tu contraseña" label="Contraseña" type="password" v-model="data.password" />
        <ui-submitbox text="Cambiar contraseña" />
    </form>
</template>

<script>
export default {
    data() {
        return {
            data: {
                password: ''
            }
        }
    },
    methods: {
        async sendData() {
            await this.$axios.put(`/auth/password/${this.$route.params.id}`, {password: this.data.password})
            console.log('enviado el nuevo password');
        }
    }
}
</script>
