body {
    margin: 0px;
}

button {

}
button {
    border: none;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1em;
    background: none;
    color: steelblue;
    &.filled {
        background: steelblue;
        color: white;
    }
    &.mini {
        font-size: 0.6em;
        padding: 0.2em;
        background: none;
        color: steelblue;
    }
}
