<template>
    <div>
        <template v-if="ready">
            <header>
                <h1>
                    <nuxt-link to="/">Facebook clone</nuxt-link>
                </h1>
                <client-only>
                    <ul>
                        <template v-if="isLogged">
                            <li>Bienvenido {{userData && userData.email}}</li>
                            <li>
                                <button @click="trashSesion">Logout</button>
                            </li>
                            <li>
                                <nuxt-link to="/profile">Area personal</nuxt-link>
                            </li>
                        </template>
                        <template v-else>
                            <li>
                                <nuxt-link to="/auth/signup">Regsitrarse</nuxt-link>
                            </li>
                            <li>
                                <nuxt-link to="/auth/signin">Acceder</nuxt-link>
                            </li>
                        </template>
                    </ul>
                </client-only>
            </header>
            <main>
                <client-only>
                    <Nuxt />
                </client-only>
            </main>
        </template>
    </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from "vuex";
export default {
    computed: {
        ...mapGetters('auth', ['isLogged']),
        ...mapState(['ready'])
    },
    methods: {
        ...mapMutations('auth', ['trashSesion'])
    }
}
</script>

<style lang="scss">
body {
    background-color: #f7fffe;
}
h1, p, h2, h3 {
    color: rgb(44, 44, 44);
}
header {
    background-color: #00352E;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    button {
        color: rgb(231, 231, 231);
    }
    h1 {
        margin: 0px;
        a {
            color: rgb(231, 231, 231);
            text-decoration: none;
        }
    }
    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        display: flex;
        color: black;
        align-self: stretch;
        align-items: center;
        li {
            padding: 4px;
            margin: 0px 10px;
            color: rgb(231, 231, 231);
            a {
                color: rgb(231, 231, 231);
                text-decoration: none;
                font-size: 1.2em;
            }
        }
    }
}
main {
    padding: 0px 10px;
    max-width: 1024px;
    margin: 0 auto;
}
</style>
