<template>
    <div class="container">
        <h2>Muro de Facebook Clone</h2>
        <template v-if="isLogged">
            <form @submit.prevent="publishMessage">
                <ui-textarea placeholder="¿Que es lo que quieres publicar?"  v-model="message" />
                <div class="confirmation-box">
                    <button @click="publishMessage" class="filled" type="button">Publicar</button>
                    <button @click="publishWithImage" class="filled" type="button">Publicar con imagen</button>
                </div>
            </form>
            <hr />
        </template>
        <client-only>
            <h3>Ultimas publicaciones</h3>
            <fb-post @deletePost="deletePost" @updatePost="updatePost" :post="post" v-for="(post, index) in posts" :key="index" />
        </client-only>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import _ from "lodash";
export default {
    data() {
        return {
            message: '',
            posts: []
        }
    },
    async mounted() {
        const posts = await this.$axios.get('/posts')
        this.posts = posts.data
    },
    computed: {
        ...mapGetters('auth', ['isLogged'])
    },
    methods: {
        updatePost({post}) {
            const number = _.findIndex(this.posts, {_id: post._id})
            this.posts.splice(number, 1, post)
            this.setNewArray(this.posts)
        },
        deletePost({post}) {
            this.setNewArray(this.posts.filter(cpost => cpost._id !== post))
        },
        async publishMessage(fd = null) {
            try {
                let post
                if (fd instanceof FormData) {
                    fd.append('message', this.message)
                    post = await this.$axios.post('/posts', fd)
                } else {
                    const data = {message: this.message}
                    post = await this.$axios.post('/posts', data)
                }
                this.setNewArray([post.data, ...this.posts])
                this.message = ''
            } catch (error) {
                console.log(error.message)
            }
        },
        async publishWithImage() {
            const input = document.createElement('input')
            input.type = 'file'

            input.onchange = async e => {
                const file = e.target.files[0]
                const fd = new FormData()
                fd.append('post', file)
                this.publishMessage(fd)
            }

            input.click()
        },
        setNewArray(posts) {
            this.posts = []
            setTimeout(() => {
                this.posts = posts
            }, 200);
        },
        sendRequest() {
            console.log('haciendo una peticion de prueba');
            this.$axios.get('/test').then((res) => {
                console.log(res.data);
            }).catch((err) => {
                console.log('Fallo la peticion');
                console.log(err.message);
            })
        }
    }
}
</script>
