<template>
    <div>
        <h2>Area personal</h2>
        <div class="avatar">
            <h3>Avatar</h3>
            <div>
                <img :src="$store.state.auth.userData.avatar" />
            </div>
            <div>
                <button @click.prevent="updateAvatar">Actualizar avatar</button>
            </div>
        </div>
        <div class="divided">
            <div>
                <h3>Amigos</h3>
                <div class="grid tres">
                    <fb-friend v-for="(friend, index) in friends" :key="index" :friend="friend" />
                </div>
            </div>
            <div>
                <h3>Peticiones</h3>
                <fb-request v-for="(request, index) in requests" :key="index" :request="request" />
            </div>
        </div>
        <h3>Otra gente</h3>
        <div class="grid cuatro">
            <fb-user v-for="(person, index) in people" :key="index" :person="person" />
        </div>
    </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
    data() {
        return {
            people: [],
            requests: [],
            friends: [],
            count: 0
        }
    },
    async mounted() {
        const people = await this.$axios.get('/friends')
        const requests = await this.$axios.get('/friends/requests')
        const friends = await this.$axios.get('/friends/friends')
        this.people = people.data.people
        this.requests = requests.data.requests
        this.friends = friends.data.friends
    },
    methods: {
        ...mapMutations('auth', ['setAvatar']),
        updateAvatar() {
            const input = document.createElement('input')
            input.type = 'file'

            input.onchange = async e => {
                const file = e.target.files[0]
                const fd = new FormData()
                fd.append('avatar', file)
                const avatar = await this.$axios.put('/auth/avatar', fd)
                this.setAvatar(avatar.data + "?count=" + this.count++)
            }

            input.click()
        }
    }
}
</script>

<style lang="scss" scoped>
.divided {
    display: flex;
    flex-direction: row;
    & > div {
        width: 30%;
        box-sizing: border-box;
        height: 400px;
        &:first-child {
            width: 70%;
        }
        h3 {
            text-align: center;
        }
    }
}
.grid {
    display: grid;
    grid-gap: 10px;
    &.cuatro {
        grid-template-columns: repeat(4, 1fr);
    }
    &.tres {
        grid-template-columns: repeat(3, 1fr);
    }
}
.avatar img {
    max-width: 200px;
}
</style>
