<template>
  <div>
        <h2>Accede a facebook clone</h2>
        <ul v-if="inputErrors.length > 0">
            <li v-for="(error, index) in inputErrors" :key="index">{{error}}</li>
        </ul>
        <form @submit.prevent="sendData">
            <ui-textinput placeholder="Pon tu email" label="Email" v-model="data.email" />
            <ui-textinput placeholder="Pon tu contraseña" label="Contraseña" type="password" v-model="data.password" />
            <p class="forgot-password">
                <button @click.prevent="recoverPassword" type="button" class="mini">Olvidé mi contraseña</button>
            </p>
            <ui-submitbox text="Acceder" />
        </form>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import IsEmail from 'isemail'
export default {
    data() {
        return {
            data: {
                email: '',
                password: '',
            },
            inputErrors: []
        }
    },
    methods: {
        ...mapMutations('auth', ['setInfo']),
        async sendData() {
            try {
                const res = await this.$axios.post('/auth/signin', this.data)
                this.$axios.setToken(res.data.token)
                this.setInfo({token: res.data.token, userData: res.data.userData})
                this.$router.push('/')
            } catch (error) {
                if (error.response.status === 422) {
                    const errors = []
                    error.response.data.errors.forEach(element => {
                        errors.push(element.msg)
                    });
                    this.inputErrors = errors
                } else {
                    console.log('Hubo un error: ' + error.message);
                }
            }
        },
        async recoverPassword() {
            try {
                if (!IsEmail.validate(this.data.email)) {
                    console.log('el email no es válido, tienes que rellenarlo');
                    return
                }
                await this.$axios.get('/auth/passlink?email=' + this.data.email)
                console.log('Se te envió un email');
            } catch (error) {
                console.log(error.message);
            }
        }
    }
}
</script>

<style scoped>
.forgot-password {
    text-align: right;
}
</style>
