<template>
  <div>
        <h2>Registrate en facebook clone</h2>
        <ul v-if="inputErrors.length > 0">
            <li v-for="(error, index) in inputErrors" :key="index">{{error}}</li>
        </ul>
        <form @submit.prevent="sendData">
            <ui-textinput placeholder="Pon tu nombre" label="Nombre" v-model="data.name" />
            <ui-textinput placeholder="Pon tus apellidos" label="Apellidos" v-model="data.surname" />
            <ui-textinput placeholder="Pon tu email" label="Email" v-model="data.email" />
            <ui-textinput placeholder="Pon tu contraseña" label="Contraseña" type="password" v-model="data.password" />
            <ui-submitbox text="Registrarse" />
        </form>
  </div>
</template>

<script>
export default {
    data() {
        return {
            data: {
                name: '',
                surname: '',
                email: '',
                password: '',
            },
            inputErrors: []
        }
    },
    methods: {
        async sendData() {
            try {
                const res = await this.$axios.post('/auth/signup', this.data)
                console.log(res.data)
            } catch (error) {
                if (error.response.status === 422) {
                    const errors = []
                    error.response.data.errors.forEach(element => {
                        errors.push(element.msg)
                    });
                    this.inputErrors = errors
                } else {
                    console.log('Hubo un error: ' + error.message);
                }
            }
        }
    }
}
</script>
