<template>
    <div class="response">
        <h5>{{comment.user.name}} {{comment.user.surname}}</h5>
        <p>{{comment.text}}</p>
        <template v-if="isLogged">
            <form @submit.prevent="respond">
                <ui-textinput v-model="text" placeholder="Escribe tu respuesta" />
                <ui-submitbox classStr="mini" text="Responder" />
            </form>
        </template>
        <div style="margin-left: 30px;">
            <div>
                <fb-comment :comment="comment" v-for="(comment, index) in comments" :key="index" />
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['comment'],
    data() {
        return {
            text: '',
            comments: []
        }
    },
    async mounted() {
        const comments = await this.$axios.get(`/comments/responses/${this.comment._id}`)
        this.comments = comments.data
    },
    methods: {
        async respond() {
            const data = {message: this.text}
            const comment = await this.$axios.post(`/comments/respond/${this.comment._id}`, data)
            this.comments.splice(0, 0, comment.data)
        }
    }
}
</script>
<style scoped>
p, h4 {
    margin: 0px;
}
.response {
    margin: 10px 0px;
}
</style>
