<template>
    <div class="fb-friend">
        <h4>{{friend.name}} {{friend.surname}}</h4>
        <button @click="sendRequest">Eliminar</button>
    </div>
</template>

<script>
export default {
    props: ['friend'],
    methods: {
        async sendRequest() {
            await this.$axios.delete('/friends/remove/' + this.friend._id)
        }
    }
}
</script>
<style lang="scss" scoped>
.fb-friend {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
        margin: 0px;
    }
}
</style>
