<template>
    <div class="fb-comment">
        <div class="fb-comment__author">
            <div>
                <h4 class="fb-comment__author-name">{{post.user.name}} {{post.user.surname}}</h4>
            </div>
            <div v-if="isLogged">
                <button @click="editingPost = !editingPost"><i class="fas fa-pen"></i></button>
                <button @click="deletePost"><i class="fas fa-trash"></i></button>
            </div>
        </div>
        <img v-if="post.image" :src="post.image" />
        <template v-if="editingPost">
            <form @submit.prevent="saveChanges">
                <ui-textarea v-model="newText" placeholder="Nuevo texto" :initText="newText"></ui-textarea>
                <ui-submitbox />
            </form>
        </template>
        <template v-else>
            <p class="fb-comment__text">{{post.text}}</p>
        </template>
        <client-only>
            <div style="margin-left: 30px;">
                <div>
                    <fb-comment :comment="comment" v-for="(comment, index) in comments" :key="index" />
                </div>
                <template v-if="isLogged">
                    <template v-if="addingCommnent">
                        <div>
                            <ui-textinput v-model="newComment" placeholder="Pon aqui tu comentario" label="Comentario" />
                            <div>
                                <button @click="addCommnent">Comentar</button>
                                <button @click="addingCommnent = false">Cancelar</button>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <p>
                            <button @click="addingCommnent = true">Commentar</button>
                        </p>
                    </template>
                </template>
            </div>
        </client-only>
    </div>
</template>
<script>
export default {
    props: ['post'],
    data() {
        return {
            comments: [],
            addingCommnent: false,
            newComment: '',
            editingPost: false,
            newText: ''
        }
    },
    async mounted() {
        const comments = await this.$axios.get('/comments/post/' + this.post._id)
        this.comments = comments.data
    },
    methods: {
        async addCommnent() {
            const data = {message: this.newComment}
            const comment = await this.$axios.post('/comments/post/' + this.post._id, data)
            this.comments.splice(0, 0, comment.data)
            this.newComment = ''
            this.addingCommnent = false
        },
        async saveChanges() {
            const data = {message: this.newText}
            const newPost = await this.$axios.put('/posts/' + this.post._id, data)
            this.$emit('updatePost', {post: newPost.data.post})
            this.newText = ''
            this.editingPost = false
        },
        async deletePost() {
            const newPost = await this.$axios.delete('/posts/' + this.post._id)
            this.$emit('deletePost', {post: this.post._id})
        }
    },
    watch: {
        editingPost(newv) {
            if (newv) {
                this.newText = this.post.text
            }
        }
    }
}
</script>
<style lang="scss" scoped>
.fb-comment {
    margin: 10px;
    padding: 10px;
    &__author {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom-right-radius: 0px!important;
        border-bottom-left-radius: 0px !important;
        padding-left: 3px;
        &-name {
            margin: 0px;
        }
    }
    &__text {
        margin: 0px;
        padding: 0px;
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px  !important;
        padding: 10px;
    }
    img {
        max-width: 100%;
    }
}
.fb-comment__author, .fb-comment__text {
    border: 1px solid rgb(236, 236, 236);
    background-color: rgb(236, 236, 236);
    border-radius: 12px;
    box-sizing: border-box;
}
</style>
