<template>
    <div class="fb-request">
        <h4>{{request.from.name}} {{request.from.surname}}</h4>
        <button @click="acceptRequest">Aceptar</button>
    </div>
</template>

<script>
export default {
    props: ['request'],
    methods: {
        async acceptRequest() {
            await this.$axios.put('/friends/accept/' + this.request._id)
        }
    }
}
</script>
