<template>
    <div class="fb-user">
        <h4>{{person.name}} {{person.surname}}</h4>
        <button @click="sendRequest">Añadir</button>
    </div>
</template>

<script>
export default {
    props: ['person'],
    methods: {
        async sendRequest() {
            await this.$axios.post('/friends/request/' + this.person._id)
        }
    }
}
</script>
<style lang="scss" scoped>
.fb-user {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
        margin: 0px;
    }
}
</style>
