<template>
    <div class="confirmation-box">
        <button :class="classStr" class="filled" type="submit">{{text}}</button>
    </div>
</template>

<script>
export default {
    props: {
        text: {
            type: String,
            default: 'Enviar'
        },
        classStr: {
            type: String,
            default: ''
        }
    }
}
</script>

<style scoped>
.confirmation-box {
    padding: 1em;
    display: flex;
    justify-content: flex-end;
}
</style>
