<template>
    <div>
        <label>
            <span>{{label}}</span>
            <input :type="type" :placeholder="placeholder" v-model="input" />
        </label>
    </div>
</template>

<script>
export default {
    props: {
        placeholder: {type: String},
        label: {type: String},
        type: {type: String, default: 'text'},
    },
    data() {
        return {
            input: "",
        };
    },
    watch: {
        input(newv) {
            this.$emit("input", newv);
        },
    },
};
</script>

<style scoped>
label {
    display: flex;
    flex-direction: column;
}
label > span {
    font-size: 1.5em;
}
label > input {
    width: 100%;
    font-size: 1.2em;
    padding: 2px;
    box-sizing: border-box;
}
</style>
