style.
    p {
        color: tomato;
    }
    a {
        color: steelblue;
        font-weight: bold;
    }
    a:visited {
        color: purple;
    }

p Hola, para recuperar la contraseña, tienes que hacer click <a href=#{link}>aqui</a>
