style.
    p {
        color: tomato;
    }
    a {
        color: steelblue;
        font-weight: bold;
    }
    a:visited {
        color: purple;
    }

p Hola, Haz click <a href=#{link}>aqui</a> para activar tu cuenta
